body {
    background-color: rgb(147, 147, 143);
    font-family: Arial;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

body > header {
    background-color: #fff;
    display: flex;
    width: 80em;
    margin: 0 auto 2em auto;
    padding: 0;
}

body > header img {
    height: 5em;
}

body > header #menu {
    display: flex;
    width: 50%;
    align-items: stretch;
    border-left: 1px solid #99b;
}

body > header #menu a {
    flex: 1;
    text-align: center;
    padding-top: 2em;
    border-right: 1px solid #99b;
}

body > header a:hover {
    background-color: #ea4c89;
}

body > header ul {
    list-style: none;
}

body > header #user {
    margin-left: auto;
    flex: 0.2;
    border-left: 1px solid #99b;
    display: flex;
}

body > header #user > a {
    display: block;
    text-align: center;
    padding: 2em 0;
    width: 100%;
    flex: 1;
}

body > header #user ul {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    margin-left: -5em;
    background-color: #fff;
    border: 1px solid #99b;
    z-index: 1;
}

body > header #user ul li a {
    display: block;
    width: 10em;
    padding: 1em;
    border-bottom: 1px solid #99b;
}

body > header #user:hover ul {
    display: block;
}

#wrapper {
    display: flex;
    width: 80em;
    margin: 0 auto 2em auto;
}

#wrapper aside {
    background-color: #fff;
    flex: 1;
    padding: 1em;
    border-radius: 1em;
}

#wrapper aside img {
    display: block;
    width: 50%;
    margin: auto;
}

#wrapper main {
    flex: 3;
    padding-left: 1em;
    height: 80vh;
}

#wrapper main article {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
}

#wrapper main article h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1em;
}

#wrapper main article time {
    float: left;
}

#wrapper main article address {
    text-align: right;
    margin-bottom: 1em;
}

#wrapper main article p {
    margin: 0;
}

#wrapper main article footer {
    margin-top: 1em;
    text-align: right;
}

#wrapper main article footer small {
    float: left;
}

#wrapper.admin {
    flex-direction: row-reverse;
}

#wrapper.admin aside {
    flex: 1;
    margin-left: 1em;
    border-radius: 0;
    padding: 0;
}

#wrapper.admin main {
    flex: 2;
    background-color: #fff;
    border-radius: 0;
    padding: 0;
}

#wrapper.admin h2 {
    text-align: center;
}

#wrapper.admin h3 {
    margin: 0;
    color: #ea4c89;
}

#wrapper.admin nav {
    text-align: right;
}

#wrapper.admin article {
    border: 1px solid #ddd;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}

#wrapper.admin article p {
    float: left;
    margin: 0;
}

.parameters dl dt,
form dl dt,
form.fenetre dl dt {
    float: left;
    font-weight: bold;
    line-height: 1.5em;
}

.parameters dl dd,
form dl dd {
    margin-left: 15em;
    line-height: 1.5em;
}

form dl {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form dl dd,
form.fenetre dl dd {
    line-height: 1.5em;
    margin-bottom: 1em;
    margin-inline-start: 0;
}

form dl dd textarea,
form.fenetre dl dd textarea {
    width: 30em;
    height: 15em;
}

form.fenetre {
    display: flex;
    flex-direction: column;
    width: 60em;
}

form.fenetre dl {
    width: 100%;
    margin: 0;
}

form.fenetre dl dd {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}

form.fenetre dl dd textarea {
    width: 100%;
    height: 10em;
    border-radius: 1em;
    padding: 1em;
    background-color: #fff;
    margin-bottom: 1em;
}

.button-1 {
    background-color: #ea4c89;
    align-items: flex-end;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    max-width: 150px;
    margin-bottom: 2em;
}

.button-1:hover,
.button-1:focus {
    background-color: #f082ac;
}

.scrolling-message-container {
    width: 77%;
    height: 40px;
    overflow: hidden;
    background-color: #ffefef;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 0.5em;
    margin-bottom: 2em;
}

#scrolling-message {
    white-space: nowrap;
    display: inline-block;
    animation: scroll 20s linear infinite;
    font-size: 16px;
    color: #333;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.tags {
    color: #ea4c89;
}
